@use "variables";
@use "sass:color";

@mixin main(
  $pad: .5em 1em,
  $bg: #89c2e3
) {
  border: none;
  padding: $pad;
  border-radius: 5px;
  background: $bg;
  font-size: 1.1em;
  box-shadow: variables.$boxShadow;

  transition: all 300ms;
  cursor: pointer;
  
}

